body {
  margin: 0;
  padding: 0;
  border: none;
}

.meet {
  position: absolute;
  width: 79px;
  height: 50px;
  left: 695px;
  top: 83px;
  font-weight: bold;
  font-size: 25px;
}
/* overl*/
.oval {
  position: absolute;

  left: 677px;
  top: 99px;
}
.oval1 {
  position: absolute;

  left: 664px;
  top: 126px;
}

/* footer */

.footer-container {
  height: 200px;
  background-image: url("images/Bitmap.png");
}
